<div *ngIf="hidden" id="overlay">
  <div id="dialog-box">
    <div id="parent">
      <h1>Delete comment</h1>
      <p>are you sure you want to delete this comment?
        This will remove the comment and can't be undone.</p>
      <div id="buttons">
        <button (click)="cancelDeletion()" id="cancelBtn">NO, CANCEL</button>
        <button (click)="processDeletion()" id="deleteBtn">YES, DELETE</button>
      </div>
    </div>
  </div>
</div>

<section>
  <app-comment (sendReply)="receiveReply($event)" (sendComment)="receieveComment($event)"
    (modalStatetoParentFromReply)="show($event)" (modalStatetoParentFromComment)="show($event)" [data]="data">
  </app-comment>
  <div id="mainUser">
    <div>
      <img src="assets{{data.currentUser.image.png}}" alt="main user">
      <textarea [(ngModel)]="typedText" name="mainComment" id="mainComment" placeholder="Add comment..."></textarea>
      <button (click)="sendComment()">SEND</button>
    </div>
  </div>
</section>